@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    color: black;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 20px;
}

h2 {
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0;
    font-weight: 900;
}

p {
    line-height: 1.6;
}

h2 span {
    font-size: 1.2rem;
}

.absolute {
    position: absolute;
    width: 100%;
    height: auto;
    margin-top: 100px;
}

#content {
    padding: 100px 0;
}

.text-white-75 {
    color: rgba(255, 255, 255, 0.75) !important;
}

header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: url("../images/cover.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

header.masthead h1,
header.masthead .h1 {
    font-size: 2.25rem;
}

@media (min-width: 1px) {
    header.masthead {
        height: 100vh;
        min-height: 40rem;
        padding-top: 4.5rem;
        padding-bottom: 0;
        background-size: cover;
    }

    header.masthead p {
        font-size: 1.15rem;
    }

    header.masthead h1,
    header.masthead .h1 {
        font-size: 3rem;
    }
}

@media (min-width: 1200px) {

    header.masthead h1,
    header.masthead .h1 {
        font-size: 3.5rem;
    }
}

header.masthead2 {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: url("../images/cover.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

header.masthead2 h1,
header.masthead2 .h1 {
    font-size: 2.25rem;
}

@media (min-width: 1px) {
    header.masthead2 {
        height: 50vh;
        min-height: 35rem;
        padding-top: 4.5rem;
        padding-bottom: 0;
        background-size: cover;
    }

    header.masthead2 p {
        font-size: 1.15rem;
    }

    header.masthead2 h1,
    header.masthead2 .h1 {
        font-size: 3rem;
    }
}

@media (min-width: 1200px) {

    header.masthead2 h1,
    header.masthead2 .h1 {
        font-size: 3.5rem;
    }
}

#mainNav {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
    transition: background-color 0.2s ease;
}

#mainNav .navbar-brand {
    font-weight: 600;
    color: #212529;
}

#mainNav .navbar-nav .nav-item .nav-link {
    color: #6c757d;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.75rem 0;
}

@media (min-width: 920px) {
    #mainNav {
        box-shadow: none;
        background-color: transparent;
    }

    #mainNav .navbar-brand {
        color: rgba(255, 255, 255, 0.7);
    }

    #mainNav .navbar-brand:hover {
        color: #fff;
    }

    #mainNav .navbar-nav .nav-item .nav-link {
        color: rgba(255, 255, 255, 0.7);
        padding: 0 1rem;
    }

    #mainNav .navbar-nav .nav-item .nav-link:hover {
        color: #fff;
    }

    #mainNav .navbar-nav .nav-item:last-child .nav-link {
        padding-right: 0;
    }

    #mainNav.navbar-shrink {
        box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.05);
        background-color: #fff;
    }

    #mainNav.navbar-shrink .navbar-brand {
        color: #303030;
    }

    #mainNav.navbar-shrink .navbar-brand:hover {
        color: #4e4e4e;
    }

    #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
        color: #303030;
    }

    #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link:hover {
        color: #4e4e4e;
    }
}

.div-bg-1 {
    background-color: #fff;
}

.div-bg-2 {
    background-color: #FF9FAC;
}

.div-bg-3 {
    background-color: #46b4b4;
}

.cls-1 {
    fill: #fff;
}

.cls-2 {
    fill: #fff;
}

#btn-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    padding: 0px;
    width: 3rem;
    height: 3rem;
    z-index: 9999;
}

@media (min-width: 1px) {
    .test {
        max-width: 85%;
    }
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-img-top {
    width: 5rem;
    height: 20rem;
    object-fit: cover;
}

.card-body {
    flex-grow: 1;
}

.card-footer {
    border: 0 !important;
    background-color: #fff !important;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.form-label {
    color: white;
    font-weight: 700;
    font-size: 32px;
    font-family: Amatic SC;
}