{% extends 'base.html.twig' %}

{% block title %}New CdbNews{% endblock %}

{% block body %}
    <h1>Create new CdbNews</h1>

    {{ include('cdb_news/_form.html.twig') }}

    <a href="{{ path('app_cdb_news_index') }}">back to list</a>
{% endblock %}
