{% extends 'base.html.twig' %}

{% block title %}Accueil - Coeur de bourg
{% endblock %}

{% block body %}

	<div style="text-align: center" id="presentation">
		<h1>COEUR DE BOURG</h1>
        <h3>Épicerie de Saint-Quentin-de-Caplong</h3>
	</div>
	<div id="content">
		<div class="container">
			<h2>Akira
				<span>アキラ</span>
			</h2>
			<hr>
			<p>Often stylized as AKIRA, is a Japanese manga series written and illustrated by mangaka Katsuhiro Otomo. Initially serialized in the pages of Young Magazine from 1982 until 1990, the work was collected into six volumes by its publisher Kodansha. The work was published in the United States by Marvel Comics under their Epic Comics imprint, becoming one of the first manga works to be translated in its entirety into English. Otomo's art is considered outstanding, and a watershed for both Otomo and the manga form.</p>
			<p>Set in a post-apocalyptic and futuristic Neo-Tokyo, the manga focuses on the efforts of a teenaged biker gang leader Kaneda, political activist Kei, a trio of Espers, and Neo-Tokyo's military leader Colonel Shikishima to prevent Tetsuo, Kaneda's mentally-fractured childhood friend, from using his unstable telekinetic abilities to ravage the city and awaken a mysterious individual with similar psychic abilities named "Akira". Through this work, Otomo uses conventions of the cyberpunk genre to detail a saga of political turmoil, social isolation, corruption, and power.</p>
			<p>An animated film adaptation (anime) was released in 1988 that shortened the plot considerably while retaining many of the manga's primary characters and plot elements alongside additional scenes, setttings and motifs. The manga takes place in a longer time frame than the film, and involves a much wider array of characters and subplots. Otomo's Akira anime marked his transition from a career primarily in manga, to one almost exclusively in anime.</p>
			<p>Akira was instrumental in an upsurge of manga popularity outside Japan, especially as Epic Comics' edition was colorised and coincided with the release of the film. It has won several awards, including the Kodansha Manga and Harvey Awards, and is named as being an important title in the French manga explosion.</p>
		</div>
	</div>
{% endblock %}

