{% extends 'base.html.twig' %}

{% block title %}Accueil - Coeur de bourg
{% endblock %}

{% block body %}
	<div class="div-bg-1">
		<div class="col-lg-8 mx-auto p-5 py-md-5">
			<div style="text-align: center">
				<h1 style="font-family: Amatic SC; font-weight: 700;">Qui sommes nous ?</h1>
			</div>
			<div class="container pt-5">
				<p>Située dans le village de Saint-Quentin-de-Caplong,
					<b style="color:orange; font-family: Neucha">Cœur de Bourg</b>
					est une épicerie engagée dans la promotion du lien social. Nous offrons bien plus que des produits alimentaires, en créant un environnement chaleureux où les habitants peuvent se retrouver et échanger. En soutenant les producteurs locaux, nous contribuons à l'économie régionale et préservons les traditions culinaires de notre terroir. Avec un accès facile aux produits de qualité, nous éliminons les obstacles pour les habitants qui ont du mal à se déplacer vers des grandes surfaces éloignées. En proposant des articles durables et respectueux de l'environnement, nous encourageons une consommation responsable et soucieuse de la planète. Que vous cherchiez des produits frais, des échanges chaleureux ou simplement un endroit accueillant pour vos courses, nous sommes fiers de contribuer au renforcement du tissu social de notre village. (Ajouter terrasse, boisson chaude et froide)</p>
			</div>
		</div>
	</div>

	<div class="div-bg-2">
			<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 57.01"><defs><style>.cls-1{fill:#fff;}</style></defs><title>wavy-loops-top</title><path class="cls-1" d="M0,0H500V27a281.22,281.22,0,0,1-89,14c-34.3-.27-52.92-7-75-11C250.31,14.33,217.45,57.92,131,57c-30.2-.32-75.43-6.17-131-35"/></svg>
		<div class="col-lg-8 mx-auto p-5 py-md-5">
			Qui sommes-nous ?<br>
			News<br>
			Horaires<br>
			Nous trouver<br>
			Partenaires (Producteurs locaux, associations)<br>
			Pèlerins<br>
			Chemins de ronde ?<br>
			Contact (Téléphone, mail)

			<br><br>

			SVG Divider<br>
			Free SVG Illustrations
		</div>
	</div>

{% endblock %}

