{% extends 'base.html.twig' %}

{% block title %}Accueil - Coeur de bourg
{% endblock %}

{% block body %}

	{# Partie 1 #}
	<div class="div-bg-1">
		<div class="col-lg-8 mx-auto p-5 py-md-5">
			<div class="row gx-4 gx-lg-5">
				<div class="col-lg-7 col-md-6">
					<div class="mt-5">
						<h1 class="h1 mb-2" style="font-family: Amatic SC; font-weight: 700; color: #46b4b4">Qui sommes-nous ?
							<img src="images/icons/undraw_heart-fun-blue.svg" width="20rem">
						</h1>
						<img src="images/icons/undraw_fun-underline-blue.svg" width="45rem">
						<p class="text-muted mb-0 mt-4">Située dans le village de
							<b style="color: #46b4b4">Saint-Quentin-de-Caplong</b>,
							<b style="color: #FF9FAC; font-family: Neucha; font-size: large;">Cœur de Bourg</b>
							est une
							<b style="color: #46b4b4">épicerie engagée</b>
							dans la promotion du lien social.
							<br><br>Nous offrons bien plus que des produits alimentaires, en créant un
							<b style="color: #46b4b4">environnement chaleureux</b>
							où les habitants peuvent se retrouver et échanger.
							<br><br>En soutenant les
							<b style="color: #46b4b4">producteurs locaux</b>, nous contribuons à l'économie régionale et préservons les
							<b style="color: #46b4b4">traditions culinaires</b>
							de notre terroir.
							<br><br>Avec un accès facile aux
							<b style="color: #46b4b4">produits de qualité</b>, nous éliminons les obstacles pour les habitants qui ont du mal à se déplacer vers des grandes surfaces éloignées.
							<br><br>De plus, une
							<b style="color: #46b4b4">charmante terrasse</b>
							est à votre disposition pour passer de bon moments de détente et de convivialité en savourant une
							<b style="color: #46b4b4">boisson chaude ou froide</b>
							de leur choix.
							<br><br>En proposant des
							<b style="color: #46b4b4">articles durables et respectueux de l'environnement</b>, nous encourageons une
							<b style="color: #46b4b4">consommation responsable et soucieuse de la planète</b>.
							<br><br>Que vous cherchiez des
							<b style="color: #46b4b4">produits frais</b>, des
							<b style="color: #46b4b4">échanges chaleureux</b>
							ou simplement un
							<b style="color: #46b4b4">endroit accueillant</b>
							pour vos courses, nous sommes fiers de contribuer au renforcement du tissu social de notre village.</p>
					</div>
				</div>
				<div class="col-lg-5 col-md-6 text-center">
					<div class="mt-5">
						<h1 class="h1 mb-2" style="font-family: Amatic SC; font-weight: 700; color: #46b4b4">Horaires d'ouverture
							<img src="images/icons/undraw_clock-blue.svg" width="20rem">
						</h1>
						<img src="images/icons/undraw_fun-underline-blue.svg" width="45rem">
						<div class="mt-4 pb-5">
							<p class="text-muted mb-0 mt-4">
								<b style="color: #46b4b4">Lundi au samedi</b><br>
								07h30 - 12h30<br>
								17h00 - 19h00<br><br>
								<b style="color: #46b4b4">Dimanche</b><br>
								07h30 - 12h30
							</p>
						</div>
						<div class="row justify-content-center mt-5">
							<div class="col-6 text-center">
								<h1 class="h1 mb-2" style="font-family: Amatic SC; font-weight: 700; color: #46b4b4">Nous trouver
									<img src="images/icons/undraw_fun-arrow-blue.svg" width="25rem">
								</h1>
								<img src="images/icons/undraw_fun-underline-blue.svg" width="45rem">
								<p class="text-muted mb-0 mt-4">109 Baron, 33220 Saint-Quentin-de-Caplong (<b style="color: red">à vérifier</b>)</p>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>

	{# Séparation entre partie 1 et partie 2 #}
	<div style="overflow: hidden;">
		<svg preserveaspectratio="none" viewbox="0 0 1200 120" xmlns="http://www.w3.org/2000/svg" style="fill: #FF9FAC; width: 125%; height: 75px; transform: rotate(180deg);">
			<path d="M0 0v46.29c47.79 22.2 103.59 32.17 158 28 70.36-5.37 136.33-33.31 206.8-37.5 73.84-4.36 147.54 16.88 218.2 35.26 69.27 18 138.3 24.88 209.4 13.08 36.15-6 69.85-17.84 104.45-29.34C989.49 25 1113-14.29 1200 52.47V0z" opacity=".25"/>
			<path d="M0 0v15.81c13 21.11 27.64 41.05 47.69 56.24C99.41 111.27 165 111 224.58 91.58c31.15-10.15 60.09-26.07 89.67-39.8 40.92-19 84.73-46 130.83-49.67 36.26-2.85 70.9 9.42 98.6 31.56 31.77 25.39 62.32 62 103.63 73 40.44 10.79 81.35-6.69 119.13-24.28s75.16-39 116.92-43.05c59.73-5.85 113.28 22.88 168.9 38.84 30.2 8.66 59 6.17 87.09-7.5 22.43-10.89 48-26.93 60.65-49.24V0z" opacity=".5"/>
			<path d="M0 0v5.63C149.93 59 314.09 71.32 475.83 42.57c43-7.64 84.23-20.12 127.61-26.46 59-8.63 112.48 12.24 165.56 35.4C827.93 77.22 886 95.24 951.2 90c86.53-7 172.46-45.71 248.8-84.81V0z"/>
		</svg>
	</div>

	{# Partie 2 #}
	<div class="div-bg-2" id="news">
		<div class="col-lg-8 mx-auto p-5 py-md-5">
			<h1 class="h1 mb-2 text-center" style="font-family: Amatic SC; font-weight: 700; color: #fff">News
				<img src="images/icons/undraw_sticky-note-white.svg" width="20rem">
			</h1>
			<center><img src="images/icons/undraw_fun-underline-white.svg" width="45rem">
			</center>

			<div class="row row-cols-1 row-cols-md-3 g-4 pt-5">
				<div class="col">
					<div class="card h-100">
						<img src="images\logos\4.svg" class="card-img-top" alt="1">
						<div class="card-body">
							<h5 class="card-title">Logo</h5>
							<p class="card-text line-clamp text-muted">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						</div>
						<div class="card-footer">
							<a href="#" class="btn btn-primary">Voir plus</a>
							<small class="text-muted">Mis à jour le 07/06/2023</small>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card h-100">
						<img src="images\dsqal.png" class="card-img-top" alt="2">
						<div class="card-body">
							<h5 class="card-title">Artiste</h5>
							<p class="card-text line-clamp text-muted">This is a short card.</p>
						</div>
						<div class="card-footer">
							<a href="#" class="btn btn-primary">Voir plus</a>
							<small class="text-muted">Mis à jour le 07/06/2023</small>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card h-100">
						<img src="images\original.png" class="card-img-top" alt="3">
						<div class="card-body">
							<h5 class="card-title">Background</h5>
							<p class="card-text line-clamp text-muted">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
						</div>
						<div class="card-footer">
							<a href="#" class="btn btn-primary">Voir plus</a>
							<small class="text-muted text-end">Mis à jour le 07/06/2023</small>
						</div>
					</div>
				</div>
			</div>
		</div>

		{# Partie 3 #}
		<div
			class="div-bg-1">

			{# Séparation entre partie 2 et partie 3 #}
			<div style="overflow: hidden;">
				<svg preserveaspectratio="none" viewbox="0 0 1200 120" xmlns="http://www.w3.org/2000/svg" style="fill: #FF9FAC; width: 150%; height: 60px; transform: scaleX(-1);">
					<path d="M0 0v46.29c47.79 22.2 103.59 32.17 158 28 70.36-5.37 136.33-33.31 206.8-37.5 73.84-4.36 147.54 16.88 218.2 35.26 69.27 18 138.3 24.88 209.4 13.08 36.15-6 69.85-17.84 104.45-29.34C989.49 25 1113-14.29 1200 52.47V0z" opacity=".25"/>
					<path d="M0 0v15.81c13 21.11 27.64 41.05 47.69 56.24C99.41 111.27 165 111 224.58 91.58c31.15-10.15 60.09-26.07 89.67-39.8 40.92-19 84.73-46 130.83-49.67 36.26-2.85 70.9 9.42 98.6 31.56 31.77 25.39 62.32 62 103.63 73 40.44 10.79 81.35-6.69 119.13-24.28s75.16-39 116.92-43.05c59.73-5.85 113.28 22.88 168.9 38.84 30.2 8.66 59 6.17 87.09-7.5 22.43-10.89 48-26.93 60.65-49.24V0z" opacity=".5"/>
					<path d="M0 0v5.63C149.93 59 314.09 71.32 475.83 42.57c43-7.64 84.23-20.12 127.61-26.46 59-8.63 112.48 12.24 165.56 35.4C827.93 77.22 886 95.24 951.2 90c86.53-7 172.46-45.71 248.8-84.81V0z"/>
				</svg>
			</div>

			<div class="col-lg-8 mx-auto p-5 py-md-5">
				<div class="mt-5">
					<h1 class="h1 mb-2 text-center" style="font-family: Amatic SC; font-weight: 700; color: #46b4b4">Boissons
						<img src="images/icons/undraw_coffee-blue.svg" width="30rem">
					</h1>
					<center><img src="images/icons/undraw_fun-underline-blue.svg" width="45rem"></center>
				</div>

				<div class="mt-5">
					<h1 class="h1 mb-2 text-center" style="font-family: Amatic SC; font-weight: 700; color: #46b4b4">Glaces
						<img src="images/icons/undraw_ice-cream-blue.svg" width="20rem">
					</h1>
					<center><img src="images/icons/undraw_fun-underline-blue.svg" width="45rem"></center>
				</div>
			</div>


			{# Séparation entre partie 3 et partie 4 #}
			<div style="overflow: hidden;">
				<svg preserveaspectratio="none" viewbox="0 0 1200 120" xmlns="http://www.w3.org/2000/svg" style="fill: #FF9FAC; width: 125%; height: 75px; transform: rotate(180deg);">
					<path d="M0 0v46.29c47.79 22.2 103.59 32.17 158 28 70.36-5.37 136.33-33.31 206.8-37.5 73.84-4.36 147.54 16.88 218.2 35.26 69.27 18 138.3 24.88 209.4 13.08 36.15-6 69.85-17.84 104.45-29.34C989.49 25 1113-14.29 1200 52.47V0z" opacity=".25"/>
					<path d="M0 0v15.81c13 21.11 27.64 41.05 47.69 56.24C99.41 111.27 165 111 224.58 91.58c31.15-10.15 60.09-26.07 89.67-39.8 40.92-19 84.73-46 130.83-49.67 36.26-2.85 70.9 9.42 98.6 31.56 31.77 25.39 62.32 62 103.63 73 40.44 10.79 81.35-6.69 119.13-24.28s75.16-39 116.92-43.05c59.73-5.85 113.28 22.88 168.9 38.84 30.2 8.66 59 6.17 87.09-7.5 22.43-10.89 48-26.93 60.65-49.24V0z" opacity=".5"/>
					<path d="M0 0v5.63C149.93 59 314.09 71.32 475.83 42.57c43-7.64 84.23-20.12 127.61-26.46 59-8.63 112.48 12.24 165.56 35.4C827.93 77.22 886 95.24 951.2 90c86.53-7 172.46-45.71 248.8-84.81V0z"/>
				</svg>
			</div>
		</div>

		{# Partie 4 #}
		<div class="div-bg-2" id="partenaires">
			<div class="col-lg-8 mx-auto p-5 py-md-5">
				<h1 class="h1 mb-2 text-center" style="font-family: Amatic SC; font-weight: 700; color: #fff">Partenaires
					<img src="images/icons/undraw_sticky-note-white.svg" width="20rem">
				</h1>
				<center><img src="images/icons/undraw_fun-underline-white.svg" width="45rem"></center>
			</div>
		</div>


		<div class="row gx-4 gx-lg-5">
			<div class="col-lg-7 col-md-6">
				<div class="mt-5">
					- Qui sommes-nous ?<br>
					- Horaires<br>
					- Nous trouver<br>
					- News<br>

					<br>
					- Boissons. Fiches boissons alcoolisés et non alcoolisés rotate avec du scotch, des pins ou des épingles (à rajouter sur Canva avec fond transparent) comme "accrochés" sur le site avec des shadows
					<br>
					- Partenaires (Producteurs locaux, associations)<br>
					- Pèlerins<br>
					- 1-2 Questionnaires (anonyme ou non, satisfaction, demandes)<br>
					- Chemins de ronde ?<br>
					- Contact (Téléphone, mail)<br>
				</div>
			</div>

			<div class="col-lg-5 col-md-6 text-center">
				<div class="mt-5">
					<svg id="10015.io" width="480" height="480" "0 0 480 480" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<defs>
							<clipPath id="blob">
								<path fill="#474bff" d="M389,315.5Q361,391,282,396Q203,401,116,371.5Q29,342,52,251.5Q75,161,133,93.5Q191,26,281.5,50Q372,74,394.5,157Q417,240,389,315.5Z"/>
							</clipPath>
						</defs>
						<image x="0" y="0" width="100%" height="100%" clip-path="url(#blob)" xlink:href="images\dsqal.png" preserveaspectratio="xMidYMid slice"></image>
				</svg>
			</div>
		</div>

	{% endblock %}

