<!DOCTYPE html>
<html>

	<!--Head-->
	<head>

		<!--Charset-->
		<meta
		charset="UTF-8">

		<!--Viewport-->
		<meta
		name="viewport" content="width=device-width, initial-scale=1">

		<!--Titre-->
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		<!--Logo-->
		<link rel="icon" href="images\logos\4.svg" sizes="any" type="image/svg+xml">

		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

		<!--Stylesheets-->
			{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<!--Police d'écriture-->
			<link rel="preconnect" href="https://fonts.googleapis.com"> <link
			rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

			<!--Montserrat-->
			<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

			<!--Quicksand-->
			<link
			href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">

			<!--Comfortaa-->
			<link
			href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">

			<!--Varela Round-->
			<link
			href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">

			<!--Satisfy-->
			<link
			href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">

			<!--Indie Flower-->
			<link
			href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">

			<!--Rubik-->
			<link
			href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

			<!--Amatic SC-->
			<link
			href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">

			<!--Poiret One-->
			<link
			href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">

			<!--Handlee-->
			<link
			href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">

			<!--Neucha-->
			<link
			href="https://fonts.googleapis.com/css2?family=Neucha&display=swap" rel="stylesheet">

			<!--Nothing You Could Do-->
			<link
			href="https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap" rel="stylesheet">

			<!--Caveat-->
			<link
			href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap" rel="stylesheet">

			<!--Styles.css-->
			<link
			rel="stylesheet" href="/css/styles.css">

			<!--All.css-->
			<link
			rel="stylesheet" href="/css/all.css">

			<!--Bootstrap.css-->
			<link
			rel="stylesheet" href="/css/bootstrap.css">

			<!--Fontawesome.css-->
			<link rel="stylesheet" href="/css/fontawesome.css">
		{% endblock %}

		<!--Javascripts-->
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}

			<!--Scripts.js-->
			<script src="/js/scripts.js"></script>

			<!--Bootstrap.js-->
			<script src="/js/bootstrap.js"></script>
		{% endblock %}
	</head>

	<!--Barre de navigation-->
	<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
		<div class="container-fluid px-4 px-lg-5">

			{# <ul class="list-group list-group-horizontal" style="list-style-type: none">	
																											
																						<!--Instagram-->
																						<li>
																							<a class="navbar-brand" href="https://www.instagram.com/epicerie_coeur_de_bourg6/" target="_blank">
																								<i class="fa-brands fa-instagram fa-lg"></i>
																							</a>
																						</li>
																					</ul> #}

			<!--Logo-->
				<a class="navbar-brand ml2 .letter" href="#" style="font-family: Amatic SC; font-weight:700; font-size: 32px; width:auto;"> CŒUR DE BOURG
				<img src="images\logos\logo-petit.svg" style="max-width:100%; width: auto; " class="img-fluid" alt="Responsive image">
			</svg>
		</a>

		<!--Reponsive-->
		<button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!--Boutons-->
		<div class="collapse navbar-collapse" id="main_nav">
			<ul
				class="navbar-nav ms-auto my-2 my-lg-0">

				<!--Accueil-->
				<li class="nav-item">
					<a class="nav-link" href="/" style="font-family: Amatic SC; font-weight:700; font-size: 30px; letter-spacing: 2px">Accueil</a>
				</li>

				<!--News-->
				<li class="nav-item">
					<a class="nav-link" href="/#news" style="font-family: Amatic SC; font-weight:700; font-size: 30px; letter-spacing: 2px">News</a>
				</li>

				<!--Pèlerins-->
				<li class="nav-item">
					<a class="nav-link" href="/#produits" style="font-family: Amatic SC; font-weight:700; font-size: 30px; letter-spacing: 2px">Produits</a>
				</li>

				<!--Pèlerins-->
				<li class="nav-item">
					<a class="nav-link" href="/pelerins" style="font-family: Amatic SC; font-weight:700; font-size: 30px; letter-spacing: 2px">Pèlerins</a>
				</li>

				<!--Partenaires-->
				<li class="nav-item">
					<a class="nav-link" href="/partenaires" style="font-family: Amatic SC; font-weight:700; font-size: 30px; letter-spacing: 2px">Partenaires</a>
				</li>

				<!--Contact-->
				<li class="nav-item">
					<a class="nav-link" href="/#contact" style="font-family: Amatic SC; font-weight:700; font-size: 30px; letter-spacing: 2px">Contact</a>
				</li>
			</ul>
		</div>
	</nav>

	<!--Body-->
	<body>

		<!--Bouton pour revenir en haut-->
		<button type="button" class="btn btn-dark btn-lg rounded-0" id="btn-top" z-index=>
			<i class="fa-solid fa-arrow-up"></i>
		</button>
	</body>

	<!--Extend de la page-->
	<main>
		{% block body %}{% endblock %}
	</main>

	<!--Footer-->
	<footer>
		<div style="overflow: hidden;">
			<svg preserveaspectratio="none" viewbox="0 0 1200 120" xmlns="http://www.w3.org/2000/svg" style="fill: #FF9FAC; width: 150%; height: 60px; transform: rotate(180deg) scaleX(-1);">
				<path d="M0 0v46.29c47.79 22.2 103.59 32.17 158 28 70.36-5.37 136.33-33.31 206.8-37.5 73.84-4.36 147.54 16.88 218.2 35.26 69.27 18 138.3 24.88 209.4 13.08 36.15-6 69.85-17.84 104.45-29.34C989.49 25 1113-14.29 1200 52.47V0z" opacity=".25"/>
				<path d="M0 0v15.81c13 21.11 27.64 41.05 47.69 56.24C99.41 111.27 165 111 224.58 91.58c31.15-10.15 60.09-26.07 89.67-39.8 40.92-19 84.73-46 130.83-49.67 36.26-2.85 70.9 9.42 98.6 31.56 31.77 25.39 62.32 62 103.63 73 40.44 10.79 81.35-6.69 119.13-24.28s75.16-39 116.92-43.05c59.73-5.85 113.28 22.88 168.9 38.84 30.2 8.66 59 6.17 87.09-7.5 22.43-10.89 48-26.93 60.65-49.24V0z" opacity=".5"/>
				<path d="M0 0v5.63C149.93 59 314.09 71.32 475.83 42.57c43-7.64 84.23-20.12 127.61-26.46 59-8.63 112.48 12.24 165.56 35.4C827.93 77.22 886 95.24 951.2 90c86.53-7 172.46-45.71 248.8-84.81V0z"/>
			</svg>
		</div>
		<div class="div-bg-2">
			<div class="col-lg-8 mx-auto p-3 py-md-4">
				<div class="row">
					<div class="col text-muted">
						Copyright &copy; Mairie de Saint-Quentin-de-Caplong -
						{{ ''|date('Y') }}
					</div>
					<div class="col-auto">
						{% if app.user %}

							<!--Déconnexion-->
							<a href="/logout" class="btn btn-primary btn-sm" style="font-family: Amatic SC; font-size: 22px; font-weight: 700;">Se déconnecter</a>
						{% else %}

							<!--Connexion-->
							<a href="/login" class="btn btn-primary btn-sm" style="font-family: Amatic SC; font-size: 22px; font-weight: 700;">Se connecter</a>

							<!--Inscription-->
							<a href="/register" class="btn btn-primary btn-sm" style="font-family: Amatic SC; font-size: 22px; font-weight: 700;">S'inscrire</a>
						{% endif %}
						
						<a href="/mentions" class="nav-link">Mentions légales</a>
					</div>
				</div>
			</div>
		</div>
	</footer>
</html>

