{% extends 'navbar.html.twig' %}

{% block title %}Mentions légales - Cœur de bourg
{% endblock %}

{% block body %}

	<!--Image de couverture-->
	<header class="masthead2">
		<div class="container px-4 px-lg-5 h-100">
			<div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
				<div class="col-lg-8 align-self-end">
					<h1 class="text-white font-weight-bold" style="letter-spacing: 10px; font-family: Amatic SC; font-size: 72px">
						ÉPICERIE</h1>
				</div>
				<div class="col-lg-8 align-self-baseline">
					<h1 class="text-white" style="letter-spacing: 2px; font-family: Amatic SC; font-size: 72px;">CŒUR DE BOURG</h1>
					<h6 class="text-white-75" style="letter-spacing: 2px;">SAINT-QUENTIN-DE-CAPLONG</h6>
				</div>
			</div>
		</div>
	</header>

	{# Partie 1 #}
	<div class="div-bg-1">
		<div class="col-lg-8 mx-auto p-5 py-md-5">
			<div class="mt-3 text-center">
				<h1 class="h1 mb-2" style="font-family: Amatic SC; font-weight: 700; color: #46b4b4">Mentions légales
					<img src="/images/icons/undraw_note-blue.svg" width="20rem">
				</h1>
				<img src="/images/icons/undraw_fun-underline-blue.svg" width="45rem">
			</div>

			<div>
                <center><img src="/images/logos/4.svg" class="py-5 img-fluid" width="200rem"></img>

				<p class="col-lg-6 pt-2">Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l'économie numérique, dite L.C.E.N., il est porté à la connaissance des visiteurs, les présentes mentions légales.</p></center>

				<h3 class="pt-5">ÉDITEUR</h3>

				<p>L'édition et la direction de la publication du Site sont assurées par :<br>
					MAZURAIS Vincent - <i>mazurais.vincent@outlook.fr</i></p>

				<h3 class="pt-3">HEBERGEUR</h3>

				<p>Le site Web est hébergé par
					<a class="link-primary link-underline link-underline-opacity-0" href="https://www.ovhcloud.com/fr/">OVH</a>
				</p>

				<h3 class="pt-3">COLLECTE DES DONNEES</h3>

				<p>Le site assure à l'utilisateur une collecte et un traitement d'informations personnelles dans le respect de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés.
					<br><br>

					En vertu de la loi Informatique et Libertés, en date du 6 janvier 1978, l'Utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition de ses données personnelles. L'utilisateur exerce ce droit par mail à l'adresse email :<br>
					<i>mairie.st-quentin33@orange.fr</i><br><br>

					Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du Site, sans autorisation de l'Editeur est prohibée et pourra entraînée des actions et poursuites judiciaires telles que notamment prévues par le Code de la propriété intellectuelle et le Code civil.</p>
			</div>
		</div>
	</div>

{% endblock %}

